<section>
  <h2>Your saved screenings</h2>
  <div class='calendar'>
    {{#each calendarByDay}}
      <div class='calendar-date'>
        <h2 class='calendar-head'>
          Date:
          {{@key}}
        </h2>

        {{#each this}}
          <div class='calendar-entry' data-calendar='{{_id}}'>
            <h3 class='showtime'>
              {{movie.title}}
              at
              {{timeString}}
            </h3>
            <picture>
              <img src='{{stripProtocol movie.poster}}' alt='{{movie.title}}' />
            </picture>

            <p class='showtimes'>
              <span class='showtime'>
                {{cinema.name}}
              </span>
              <span class='showtime'>
                {{cinema.address}}
              </span>
              <span class='showtime'>
                {{cinema.zipcode}}
              </span>
            </p>
            <button
              class='remove-from-calendar'
              data-calendar='{{this._id}}'
            >Remove from calendar</button>
          </div>
        {{/each}}
      </div>
    {{/each}}
  </div>
</section>