<section class='splash'>
  <h2>{{appTitle}}</h2>
  <p>{{pageSubtitle}}</p>
</section>
<section class='random-screening'>
  {{#with showtime}}
    <h2>
      Have you seen
      <strong>{{movie.title}}</strong>?
    </h2>
    <p>
      Why not see it at
      <a href='/cinema/{{cinema.id}}'>
        {{cinema.name}}
      </a>
      at
      <strong>{{time startTime}}</strong>
      on
      <strong>{{date startTime}}</strong>?
      {{> addToCalendar showtime=_id}}
    </p>
    <picture><img src='{{movie.poster}}' alt='{{movie.title}}' /></picture>
  {{/with}}
</section>