<section>
<ul class='cinema-list'>
  {{#each cinemas}}
    <li class='cinema'>
      <h2>
        <a href='/cinema/{{_id}}'>
          {{name}}
        </a>
      </h2>

      <div class="address">
        <p>
          {{address}}
          {{zipcode}}
          {{city}}
        </p>
        {{> favouriteCinema cinema=this liked=liked}}
      </div>
      <ul class='member-card-list'>
        {{#each member_cards}}
          <li class='member-card' data-code='{{code}}'>
            {{label}}
          </li>
        {{/each}}
      </ul>
    </li>
  {{/each}}
</ul>
</section>