{{#with cinema}}
  <h1>{{name}}</h1>
  <p>
    {{address}},
    {{city}}
    {{zipcode}}
  </p>
  {{> favouriteCinema cinema=this liked=liked}}
  <ul>
    {{#each member_cards}}
      <li data-code='{{code}}'>
        {{label}}
      </li>
    {{/each}}
  </ul>
  <p>
    <a href='/cinema/{{_id}}/byDate'>
      View listings by date
    </a>
  </p>
{{/with}}

<div class='showtimes-grouping'>
  {{#each showtimes}}
    <div class='showtime-for-group'>
      <div class='group-heading'>
        <h2>
          {{movie.title}}
        </h2>
        <picture>
          <img src='{{movie.poster}}' alt='{{movie.title}}' />
        </picture>
      </div>
      <ul class='showtimes'>
        {{#each showtimes}}
          <li class='showtime'>
            <h3>
              {{date startTime}}
              at
              {{time startTime}}
            </h3>
            {{> addToCalendar showtime=this}}
          </li>
        {{/each}}
      </ul>
    </div>
  {{/each}}
</div>