{{#with cinema}}
  <h2>{{name}}</h2>
  {{allocine_id}}
  {{address}}
  {{zipcode}}
  {{city}}
  {{#each member_cards}}
    {{code}}
    {{label}}
  {{/each}}
{{/with}}

{{#each showtimes}}
  <p>
    {{movie.title}}
  </p>
  {{#each scr}}
    <p>
      {{d}}
      at
    </p>
    <ul class='showtimes'>
      {{#each t}}
        <li class='showtime'>
          <h3>
            {{$}}
          </h3>
          {{#if @root.isUserLoggedIn}}
            <button data-showtime='{{code}}'>
              Add this to your calendar
            </button>
          {{/if}}
        </li>
      {{/each}}
    </ul>
  {{/each}}
{{/each}}

<script src='/js/cinema/view.js'></script>