{{#with cinema}}
  <h2>{{name}}</h2>
  {{allocine_id}}
  {{address}}
  {{zipcode}}
  {{city}}
  {{#each member_cards}}
    {{code}}
    {{label}}
  {{/each}}
{{/with}}

{{#each showtimes}}
  <p>
    {{movie.title}}
  </p>
  {{#each scr}}
    <p>
      {{d}}
      at
      {{#each t}}{{this.$}}, {{/each}}
    </p>
  {{/each}}
{{/each}}