
<section>
{{#with cinema}}
  <h2>{{name}}</h2>
  <p>
    {{address}},
    {{city}}
    {{zipcode}}
  </p>
  {{> favouriteCinema cinema=this liked=liked}}
  <ul>
    {{#each member_cards}}
      <li data-code='{{code}}'>
        {{label}}
      </li>
    {{/each}}
  </ul>
  <p>
    <a href='/cinema/{{_id}}'>
      View listings by movie
    </a>
  </p>
{{/with}}

<div class='showtimes-grouping'>
  {{#each showtimes}}
    <div class='showtime-for-group'>
      <div class='group-heading'>
        <h3>
          {{this._id}}
        </h3>
      </div>
      <ul class='showtimes'>
        {{#each showtimes}}
          <li class='showtime'>
            <h3>
              {{time startTime}}:
              {{movie.title}}
            </h3>
            <div>
              <picture>
                <img src='{{stripProtocol movie.poster}}' alt='{{movie.title}}' />
              </picture>
            </div>
            {{> addToCalendar showtime=this}}
          </li>
        {{/each}}
      </ul>
    </div>
  {{/each}}
</div>
</section>