{{#with cinema}}
  <h1>{{name}}</h1>
  <p>
    {{address}},
    {{city}}
    {{zipcode}}
  </p>
  {{#if @root.isUserLoggedIn}}
    <button data-cinema='{{_id}}' data-liked='{{liked}}'></button>
  {{/if}}
  <ul>
    {{#each member_cards}}
      <li data-code='{{code}}'>
        {{label}}
      </li>
    {{/each}}
  </ul>
  <p>
    <a href='/cinema/{{_id}}'>
      View listings by movie
    </a>
  </p>
{{/with}}

<div class='showtimes-grouping'>
  {{#each showtimes}}
    <div class='showtime-for-group'>
      <div class='group-heading'>
        <h2>
          {{this._id}}
        </h2>
      </div>
      <ul class='showtimes'>
        {{#each showtimes}}
          <li class='showtime'>
            <h3>
              {{time startTime}}:
              {{movie.title}}
            </h3>
            <div>
              <picture>
                <img src='{{movie.poster}}' alt='{{movie.title}}' />
              </picture>

            </div>
            {{#if @root.isUserLoggedIn}}
              <button data-showtime='{{_id}}'>
                +<span class='sr-only'>Add this to your calendar</span>
              </button>
            {{/if}}
          </li>
        {{/each}}
      </ul>
    </div>
  {{/each}}
</div>

<script src='/js/cinema/view.js'></script>