
<section class='movies-section'>
  <h2>
    {{weekdaydate chosenDate}}
  </h2>
   <p>{{movies.length}} movies are showing on {{weekdaydate chosenDate}} matching your filters</p>
<nav>
  <div class="movies-filters">
    <p>sur le</p>
    {{#each calendarUrls}}
      <a class="movies-filter {{class}}" href="{{url}}">{{label}}</a>
    {{/each}}
  </div>
  <div class="movies-filters">
    <p>à partir de</p>
    {{#each hoursUrls}}
      <a class="movies-filter {{class}}" href="{{url}}">{{label}}</a>
    {{/each}}
  </div>
  <div class="movies-filters">
    <p>+ de filtres:</p>
    {{#each filtersUrls}}
      <a class="movies-filter {{class}}" href="{{url}}">{{label}}</a>
    {{/each}}
  </div>
</nav>
<div class='movies'>
  {{#each movies}}
    <div class='movie overlay-container expander-container'>
      {{#with movie}}
        <h3 class='movie-heading'>
          {{title}}
        </h3>
        <picture class="poster">
          <img
            src='{{stripProtocol poster}}'
            alt='{{title}}'
          />
        </picture>
      {{/with}}

      <div class='movie-showtimes'>
        {{#ifGreaterThan showtimes.length 6}}
          {{#eachSlice ../showtimes 0 5}}
            {{> showtimeCard this=this}}
          {{/eachSlice}}
          {{#eachSlice ../showtimes 5 showtimes.length}}
            {{> showtimeCard this=this class='expanded-only'}}
          {{/eachSlice}}
          <div class="movie-showtime expander">
            Show more
          </div>
        {{else}}
          {{#each ../showtimes}}
            {{> showtimeCard this=this}}
          {{/each}}
        {{/ifGreaterThan}}
      </div>
    </div>
  {{/each}}
</div>
</section>