
<section class='movies-section'>
  <h2>
    {{weekdaydate chosenDate}}
  </h2>
   <p>{{movies.length}} movies are showing on {{weekdaydate chosenDate}} matching your filters</p>
<nav>
  <div class="movies-filters">
    <p>sur le</p>
    {{#each calendarUrls}}
      <a class="movies-filter {{class}}" href="{{url}}">{{label}}</a>
    {{/each}}
  </div>
  <div class="movies-filters">
    <p>à partir de</p>
    {{#each hoursUrls}}
      <a class="movies-filter {{class}}" href="{{url}}">{{label}}</a>
    {{/each}}
  </div>
  <div class="movies-filters">
    <p>+ de filtres:</p>
    {{#each filtersUrls}}
      <a class="movies-filter {{class}}" href="{{url}}">{{label}}</a>
    {{/each}}
  </div>
</nav>
<div class='movies'>
  {{#each movies}}
    <div class='movie overlay-container'>
      {{#with movie}}
        <h3 class='movie-heading'>
          {{title}}
        </h3>
        <picture class="poster">
          <img
            src='{{stripProtocol poster}}'
            alt='{{title}}'
          />
        </picture>
      {{/with}}

      <div class='movie-showtimes'>
        {{#each showtimes}}
          <div class='movie-showtime overlay-container'>
            <h4>
              {{time startTime}}
            </h4>
            <div class="overlay">
              {{> addToCalendar showtime=_id}}
              <p class="extra-info">
                <span>
                  {{cinema.name}}
                </span>
              </p>
            </div>
          </div>
        {{/each}}
      </div>

      {{#ifGreaterThan showtimes.length 4}}
        <div class="overlay">
          <button class="expand-showtimes">
            Show more
          </button>
        </div>
      {{/ifGreaterThan}}
    </div>
  {{/each}}
</div>
</section>