
<section>
<h2>{{movies.length}} movies are showing on {{weekdaydate chosenDate}} matching your filters</h2>
<nav>
<a href="{{previousDayUrl}}">Previous day</a>
<a href="{{afterworkUrl}}">Showings only after 6pm</a>
<a href="{{nextDayUrl}}">Next day</a>
<a href="{{ugcIllimiteUrl}}">Only show cinemas accepting UGC Illimité</a>
</nav>
<div class='movies'>
  {{#each movies}}
    <div class='movie overlay-container'>
      {{#with movie}}
        <h2 class='movie-heading'>
          {{title}}
        </h2>
        <picture class="poster">
          <img
            src='{{stripProtocol poster}}'
            alt='{{title}}'
          />
        </picture>
      {{/with}}

      <div class='movie-showtimes'>
        {{#each showtimes}}
          <div class='movie-showtime overlay-container'>
            <h3>
              {{time startTime}}
            </h3>
            <div class="overlay">
              {{> addToCalendar showtime=_id}}
              <p class="extra-info">
                <span>
                  {{cinema.name}}
                </span>
              </p>
            </div>
          </div>
        {{/each}}
      </div>

      {{#ifGreaterThan showtimes.length 4}}
        <div class="overlay">
          <button class="expand-showtimes">
            Show more
          </button>
        </div>
      {{/ifGreaterThan}}
    </div>
  {{/each}}
</div>
</section>